<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Pushwork</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header>
			<nav>
				<ul>
					<li><a href="" class="home">HOME</a></li>
					<li><a href="">SERVICES</a></li>
					<li><a href="">ABOUT</a></li>
					<li><a href="">TEAM</a></li>
					<li><a href="">BLOG</a></li>
					<li><a href="">LOGIN</a></li>
					<li><a href="" class="signUp">SIGN UP</a></li>
				</ul>
			</nav>
		</header>

		<!-- Inject Brand -->

		<section>
			<section class="injectBrand">
				<h2>Inject Your Brand and Values into a Physical Space</h2>
				<p>Place an order now, and our creative wordsmiths are on it like dots on l's with all the neccessary. Reduces your total loT cost of operations.</p>
				<a href="#" class="orderContent">ORDER CONTENT</a>
				<a href="#" class="createAccount">> &nbsp;&nbsp; CREATE AN ACCOUNT</a>
			</section>

			<section class="injectBrand">
				<img src="/homework-layout-photos/Pushwork/template/css/images/1st Box.PNG" alt="Image Here"?>
			</section>
		</section>

		<section>
			<nav>
				<ul>
					<li>Airbnb</li>
					<li>Shopify</li>
					<li>Salesforce</li>
					<li>Twitter</li>
					<li>Netflix</li>
					<li>Dropbox</li>
					<li>HUGE</li>
				</ul>
			</nav>
		</section>

<!-- Full Service Marketing -->
		
		<section>
			<section class="marketing">
				<p>HOW WE CAN HELP YOUR BUSINESS</p>
				<h2>We Are a Full-Service Marketing and Design Firm</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo illo corporis laudantium consectetur soluta voluptatem, veritatis cumque a reiciendis et iste quibusdam ratione ex quisquam! Nobis possimus eius ipsam.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repudiandae maiores explicabo, consequuntur magnam molestias, natus consequatur dicta accusamus assumenda suscipit libero. Veniam possimus deleniti iusto assumenda modi quos explicabo.</p>

				<h4 class="blueContent">ORDER CONTENT</h4>
			</section>

			<section class="marketing">

				<div>
					<h6 class="blueBox">Image Here</h6>
					<h5>DIGITAL & SOCIAL MEDIA</h5>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>

				<div>
					<h6>Image Here</h6>
					<h5>BRAND MARKETING</h5>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>

				<div>
					<h6>Image Here</h6>
					<h5>MEDIA BUYING</h5>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>

				<div>
					<h6>Image Here</h6>
					<h5>GRAPHIC & WEB DESIGN</h5>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>

			</section>
		</section>
<!-- Solution Based -->
		<section>
			<section class="solutionBased">
				<img class="imageBox" src="/homework-layout-photos/Pushwork/template/css/images/Image Box.PNG">
			</section>

			<section class="solutionBased">
				<h5>UNLIKE ANY ADVERTISING AGENCY</h5>
				
				<h2>We Are a Solution-Based Marketing Company</h2>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				
				<p>Exercitationem perferendis optio, dignissimos sint quasi nam praesentium suscipit illum. Obcaecati explicabo animi odio maxime at vitae voluptatibus veritatis, asperiores sit dolores!</p>
				
				<h4 class="blueContent">ORDER CONTENT</h4>

			</section>
		</section>
<!--	How Does It Work  -->

		<section class="howWork">
			<h2>How Does it Work?</h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus similique numquam nobis, vero id iure consequuntur.</p>
		</section>

<!-- Create an Account For Free -->
		<section class="Create-Account">
			<section>
				<section class="solutionBased">
					<img class="imageBox" src="/homework-layout-photos/Pushwork/template/css/images/Image Box.PNG">
			</section>

			<section class="solutionBased">
				<h5>CREATE AN ACCOUNT FOR FREE</h5>
				<h3>Create an Account for Free and use free trial</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quibusdam fugit! Mollitia quae earum adipisci aliquam illum, amet blanditiis! Quisquam sed ad rem, perspiciatis ipsa numquam? Cum adipisci cumque eaque.</p>

				<h4>FASTEST RESPONSE RATE</h4>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

				<h4>QUICK TURNAROUND</h4>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, itaque eaque minima harum, dolorum commodi adipisci pariatur.</p>

			</section>
		</section>

<!-- View How It Works  -->

		<section class="view-Works">
			<h3 class="vWorks">VIEW HOW IT WORKS</h3>
		</section>

<!-- Core Features and Tech List -->

		<section class="coreTech">
			<section>
				<h5>CREATE AN ACCOUNT FOR FREE</h5>
				<h2>Core Features and Technologies List</h2>
			</section>
		</section>

<!-- Boxes -->

		<section class="boxes">
			<img src="/homework-layout-photos/Pushwork/template/css/images/boxes.PNG" alt="boxes">
		</section>

<!-- From This Standpoint -->

		<section class="standpoint">
			<section class="solutionBased">
				<img class="imageBox" src="/homework-layout-photos/Pushwork/template/css/images/Image Box.PNG">
			</section>

			<section class="solutionBased">
				<h5>FROM THIS STANDPOINT</h5>
				<h3>Whose Apprach is More Like That of a Fully-Integrated Marketing</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quibusdam fugit! Mollitia quae earum adipisci aliquam illum, amet blanditiis! Quisquam sed ad rem, perspiciatis ipsa numquam? Cum adipisci cumque eaque.</p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium officiis cum ipsa alias nostrum modi.</p>

				<h4 class="blueContent">ORDER CONTENT</h4>

			</section>
		</section>

<!-- Love By Some Peeps -->

		<section class="CEO">
			<h5>LOVE BY SOME OF THE BEST PEOPLE ON EARTH</h5>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus facere, explicabo officia repellat.</p>
		</section>

<!-- CEO Founder -->

		<section class="CEO">
			<h4>CHARLIZE THERON</h4>
			<span>CEO & Founder Uber</span>
		</section>

<!-- Take your team -->
		<section class="takeTeam">
			<section class="textFooter">
				<span class="gray">PLACE AN ORDER NOW, AND OUR ALL GUYS</span>
				<h3 class="white">Take your team anywhere to go.</h3>
			</section>

			<section class="textFooter">
				<a href="#" class="orderFooter">ORDER CONTENT</a>
				<a href="#" class="contactFooter">CONTACT US</a>
			</section>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>

